@model U4_W5_BENCHMARK.Models.Prenotazione

@{
    ViewBag.Title = "AddPrenotazione";
    List<string> tipologia = new List<string>
{
            "Mezza pensione",
            "Pensione completa",
            "Pernottamento e prima colazione",
        };
}

<h2 class="m-0 text-danger text-decoration-underline text-center pb-3">Nuova Prenotazione</h2>

@if (ViewBag.Errore != null)
{
    <div class="alert alert-danger my-3 w-25 text-center">@ViewBag.Errore</div>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-8 pe-0">
                <div class="form-horizontal w-75 border border-3 border-danger rounded-3 p-3">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group text-center mb-4">
                        @Html.LabelFor(model => model.DataPrenotazione, htmlAttributes: new { @class = "control-label fs-5 text-light" })
                        <div class="d-flex justify-content-center w-100">
                            @Html.EditorFor(model => model.DataPrenotazione, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                            @Html.ValidationMessageFor(model => model.DataPrenotazione, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-center mb-4">
                        @Html.LabelFor(model => model.Anno, htmlAttributes: new { @class = "control-label fs-5 text-light" })
                        <div class="d-flex justify-content-center w-100">
                            @Html.EditorFor(model => model.Anno, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Anno, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-center mb-4">
                        @Html.LabelFor(model => model.InizioSoggiorno, htmlAttributes: new { @class = "control-label fs-5 text-light" })
                        <div class="d-flex justify-content-center w-100">
                            @Html.EditorFor(model => model.InizioSoggiorno, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                            @Html.ValidationMessageFor(model => model.InizioSoggiorno, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-center mb-4">
                        @Html.LabelFor(model => model.FineSoggiorno, htmlAttributes: new { @class = "control-label fs-5 text-light" })
                        <div class="d-flex justify-content-center w-100">
                            @Html.EditorFor(model => model.FineSoggiorno, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                            @Html.ValidationMessageFor(model => model.FineSoggiorno, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-center mb-4">
                        @Html.LabelFor(model => model.Caparra, htmlAttributes: new { @class = "control-label fs-5 text-light" })
                        <div class="d-flex justify-content-center w-100">
                            @Html.EditorFor(model => model.Caparra, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Caparra, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-center mb-4">
                        @Html.LabelFor(model => model.Tariffa, htmlAttributes: new { @class = "control-label fs-5 text-light" })
                        <div class="d-flex justify-content-center w-100">
                            @Html.EditorFor(model => model.Tariffa, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Tariffa, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-center mb-4">
                        @Html.LabelFor(model => model.TipologiaSoggiorno, htmlAttributes: new { @class = "control-label fs-5 text-light" })
                        <div class="d-flex justify-content-center w-100">
                            @Html.DropDownListFor(model => model.TipologiaSoggiorno, new SelectList(tipologia), "- Seleziona Tipologia -", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TipologiaSoggiorno, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-center mb-4">
                        @Html.LabelFor(model => model.IdCliente, htmlAttributes: new { @class = "control-label fs-5 text-light" })
                        <div class="d-flex justify-content-center w-100">
                            @Html.DropDownListFor(model => model.IdCliente, new SelectList(ViewBag.AnagraficaCliente, "Value", "Text"), "- Seleziona Cliente -", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdCliente, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-center mb-4">
                        @Html.LabelFor(model => model.IdCamera, htmlAttributes: new { @class = "control-label fs-5 text-light" })
                        <div class="d-flex justify-content-center w-100">
                            @Html.DropDownListFor(model => model.IdCamera, new SelectList(ViewBag.ListaCamere, "Value", "Text"), "- Seleziona Camera -", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdCamera, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="text-center">
                            <input type="submit" value="Aggiungi" class="btn btn-danger fw-bold w-75" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 ps-0">
                <img src="https://hips.hearstapps.com/hmg-prod/images/the-shining-jack-nicholson-1619785645.jpg?crop=0.567xw:1.00xh;0.218xw,0&resize=1200:*" alt="cliente" class="rounded-2 w-100" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
