@using U4_W5_BENCHMARK.Models

@{
    ViewBag.Title = "GetCamere";
}

<div class="d-flex justify-content-between mb-4">
    <h2 class="m-0 text-danger text-decoration-underline">Camere dell'hotel</h2>
    <a href="~/Home/AddCamera" class="btn btn-danger w-25 rounded-pill">Nuova Camera</a>
</div>

@if (TempData["Successo"] != null)
{
    <div class="alert alert-success p-4 my-4 text-center w-25 mx-auto">@TempData["Successo"]</div>
}

@if (TempData["Eliminazione"] != null)
{
    <div class="alert alert-success p-4 my-4 text-center w-25 mx-auto">@TempData["Eliminazione"]</div>
}

@if (TempData["Salvataggio"] != null)
{
    <div class="alert alert-success p-4 my-4 text-center w-25 mx-auto">@TempData["Salvataggio"]</div>
}

<div class="min-vh-100 p-4" style="background-image: url(https://dutchmuseumgiftshop.nl/wp-content/uploads/2020/06/shining-outlook-hotel.jpg)">
    <table class="table table-bordered">
        <thead class="text-bg-danger">
            <tr>
                <th>Numero Camera</th>
                <th>Descrizione</th>
                <th>Doppia</th>
                <th>Modifica</th>
                <th>Elimina</th>
            </tr>
        </thead>
        <tbody class="text-bg-secondary">
            @foreach (Camera s in Model)
            {
                <tr>
                    <td>@s.NumeroCamera</td>
                    <td>@s.Descrizione</td>
                    <td>@s.Tipologia</td>
                    <td><a href="~/Home/EditCamera/@s.IdCamera"><i class="fa-solid fa-wrench text-light"></i></a></td>
                    <td><a href="@Url.Action("DeleteCamera", "Home", new { id = s.IdCamera })"><i class="fa-solid fa-trash text-light"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>


