@using U4_W5_BENCHMARK.Models

@{
    ViewBag.Title = "GetClienti";
}

<div class="d-flex justify-content-between mb-4">
    <h2 class="m-0 text-danger text-decoration-underline">Clienti dell'hotel</h2>
    <a href="~/Home/AddCliente" class="btn btn-danger w-25 rounded-pill">Nuovo Cliente</a>
</div>


@if (TempData["Successo"] != null)
{
    <div class="alert alert-success p-4 my-4 text-center w-25 mx-auto">@TempData["Successo"]</div>
}

@if (TempData["Eliminazione"] != null)
{
    <div class="alert alert-success p-4 my-4 text-center w-25 mx-auto">@TempData["Eliminazione"]</div>
}

@if (TempData["Salvataggio"] != null)
{
    <div class="alert alert-success p-4 my-4 text-center w-25 mx-auto">@TempData["Salvataggio"]</div>
}

<div class="min-vh-100 p-4" style="background-image: url(https://movieplayer.net-cdn.it/t/images/2019/11/01/shining-cose-che-forse-non-sapete-film_jpg_1200x0_crop_q85.jpg)">
    <table class="table table-bordered">
        <thead class="text-bg-danger">
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>CF</th>
                <th>Città</th>
                <th>Provincia</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Cellulare</th>
                <th>Modifica</th>
                <th>Elimina</th>
            </tr>
        </thead>
        <tbody class="text-bg-secondary">
            @foreach (Cliente s in Model)
            {
                <tr>
                    <td>@s.Nome</td>
                    <td>@s.Cognome</td>
                    <td>@s.CF</td>
                    <td>@s.Citta</td>
                    <td>@s.Provincia</td>
                    <td>@s.Email</td>
                    <td>@s.Telefono</td>
                    <td>@s.Cellulare</td>
                    <td><a href="~/Home/EditCliente/@s.IdCliente"><i class="fa-solid fa-wrench text-light"></i></a></td>
                    <td><a href="@Url.Action("DeleteCliente", "Home", new { id = s.IdCliente })"><i class="fa-solid fa-trash text-light"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
