@using U4_W5_BENCHMARK.Models

@{
    ViewBag.Title = "GetServizi";
    TempData["IdPrenotazione"] = ViewContext.RouteData.Values["Id"];
}

<h2>Lista Servizi per la prenotazione n. @TempData["IdPrenotazione"]</h2>

@if (TempData["Successo"] != null)
{
    <div class="alert alert-success p-4 my-4 text-center w-25 mx-auto">@TempData["Successo"]</div>
}

@if (TempData["Eliminazione"] != null)
{
    <div class="alert alert-success p-4 my-4 text-center w-25 mx-auto">@TempData["Eliminazione"]</div>
}

@if (TempData["Salvataggio"] != null)
{
    <div class="alert alert-success p-4 my-4 text-center w-25 mx-auto">@TempData["Salvataggio"]</div>
}

<div class="min-vh-100">
    <div class="text-center mb-4">
        <a href="~/Home/AddServizio/@TempData["IdPrenotazione"]" class="btn btn-primary w-25">Nuovo Servizio</a>
    </div>
    <table class="table table-bordered table-success">
        <thead>
            <tr>
                <th>Servizio Aggiunto</th>
                <th>Data Servizio</th>
                <th>Quantità</th>
                <th>Prezzo Totale</th>
                <th>Modifica</th>
                <th>Elimina</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Servizio s in Model)
            {
                <tr>
                    <td>@s.ServizioAggiunto</td>
                    <td>@s.DataServizio.ToShortDateString()</td>
                    <td>@s.Quantita</td>
                    <td>@s.PrezzoServizio.ToString("C")</td>
                    <td><a href="~/Home/EditServizio/@s.IdServizio"><i class="fa-solid fa-wrench"></i></a></td>
                    <td><a href="@Url.Action("DeleteServizio", "Home", new { id = s.IdServizio })"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

