@using U4_W5_BENCHMARK.Models

@{
    ViewBag.Title = "GetServizi";
    TempData["IdPrenotazione"] = ViewContext.RouteData.Values["Id"];
}

<div class="d-flex justify-content-between mb-4">
    <h2 class="m-0 text-danger text-decoration-underline">Lista Servizi per la prenotazione n. @TempData["IdPrenotazione"]</h2>
    <a href="~/Home/AddServizio/@TempData["IdPrenotazione"]" class="btn btn-danger w-25 rounded-pill">Nuovo Servizio</a>
</div>


@if (TempData["Successo"] != null)
{
    <div class="alert alert-success p-4 my-4 text-center w-25 mx-auto">@TempData["Successo"]</div>
}

@if (TempData["Eliminazione"] != null)
{
    <div class="alert alert-success p-4 my-4 text-center w-25 mx-auto">@TempData["Eliminazione"]</div>
}

@if (TempData["Salvataggio"] != null)
{
    <div class="alert alert-success p-4 my-4 text-center w-25 mx-auto">@TempData["Salvataggio"]</div>
}

<div class="min-vh-100 p-4" style="background-image: url(https://ca-times.brightspotcdn.com/dims4/default/c48e52a/2147483647/strip/true/crop/5000x3333+0+82/resize/2000x1333!/quality/75/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F46%2F6c%2F9c3503b243f084f1156bb55bf750%2F196ascrapbookkubricktheshiningce66983.jpg); background-size:cover">
    <table class="table table-bordered">
        <thead class="text-bg-danger">
            <tr>
                <th>Servizio Aggiunto</th>
                <th>Data Servizio</th>
                <th>Quantità</th>
                <th>Prezzo Totale</th>
                <th>Modifica</th>
                <th>Elimina</th>
            </tr>
        </thead>
        <tbody class="text-bg-secondary">
            @foreach (Servizio s in Model)
            {
                <tr>
                    <td>@s.ServizioAggiunto</td>
                    <td>@s.DataServizio.ToShortDateString()</td>
                    <td>@s.Quantita</td>
                    <td>@s.PrezzoServizio.ToString("C")</td>
                    <td><a href="~/Home/EditServizio/@s.IdServizio"><i class="fa-solid fa-wrench text-light"></i></a></td>
                    <td><a href="@Url.Action("DeleteServizio", "Home", new { id = s.IdServizio })"><i class="fa-solid fa-trash text-light"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

